/.vs/
/Debug/
/GeneratedFiles/
/MSamplingThread.h
/MainWindow.h
/MainWindow.ui
/QwtPlotComponent.pro
/QwtPlotComponent.sln
/QwtPlotComponent.vcxproj
/QwtPlotComponent.vcxproj.filters
/Release/
/MPlotMagnifier.cpp
/MSamplingThread.cpp
/MainWindow.cpp
/main.cpp
/qwtPlotManage.cpp
/lib/
*.opensdf
*.sdf
